/* Import des polices Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400;700&display=swap");

@import "styles/variables.css";
@import "styles/navbar.css";
@import "styles/hero.css";
@import "styles/hero-background.css";
@import "styles/animations.css";
@import "styles/sectionAbout.css";
@import "styles/projects.css";

/* Base styles */
body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  line-height: 1.6;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

/* Style des titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  font-family: var(--font-mono);
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transform: skew(-15deg);
  border-radius: 0;
}

.btn span {
  display: inline-block;
  transform: skew(15deg);
}

.btn-primary {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border: none;
  color: var(--bg-color);
  position: relative;
  z-index: 1;
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
  transition: all 0.5s ease;
  z-index: -1;
}

.btn-primary:hover::before {
  left: 0;
}

.btn-primary:hover {
  transform: skew(-15deg) translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-outline-primary {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background: transparent;
  position: relative;
  z-index: 1;
}

.btn-outline-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: all 0.5s ease;
  z-index: -1;
}

.btn-outline-primary:hover::before {
  left: 0;
}

.btn-outline-primary:hover {
  color: var(--bg-color);
  transform: skew(-15deg) translateY(-2px);
  border-color: transparent;
}

.cta-buttons {
  animation: fadeInUp 1s ease-out 0.4s backwards;
}

.hero {
  position: relative;
  z-index: 1;
}

/* Cacher la scrollbar tout en gardant le scroll fonctionnel */
/* Pour Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
* {
  scrollbar-width: none;
}

/* Pour IE/Edge */
* {
  -ms-overflow-style: none;
}
