/* Animation du point */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Animations */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveParticle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  15% {
    /* Plus long fade in */
    opacity: var(--opacity);
    transform: scale(1.2); /* Plus grand */
  }
  85% {
    /* Plus long fade out */
    opacity: var(--opacity);
    transform: scale(1);
  }
  100% {
    transform: translate(var(--move-distance), calc(var(--move-distance) * -1));
    opacity: 0;
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
